# Core FastAPI
fastapi
uvicorn[standard]
python-multipart

# Computer Vision & AI
opencv-python
deepface
insightface
tf-keras
numpy
scikit-learn
xgboost

# Database
sqlalchemy
redis
celery

# MLOps
mlflow

# Testing
pytest
httpx