# Core FastAPI
fastapi
uvicorn[standard]
python-multipart

# Computer Vision & AI
opencv-python-headless==4.10.0.84
deepface
insightface
tf-keras
numpy
scikit-learn
xgboost

# Database
sqlalchemy
psycopg[binary]
redis
celery

# MLOps
mlflow

# Testing
pytest
httpx